* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(104, 173, 212);
}

.container {
  background-color: white;
  padding: 1rem 2.5rem;
  border-radius: 10px;
  box-shadow: 12px 12px 10px 0px rgba(0, 0, 0, 0.5);
}
.form-control {
  display: flex;
  flex-direction: column;
}

input {
  font-size: 15px;
  padding: 10px;
  border-radius: 5px;
  border-color: transparent;
  border: 1px solid gray;
}

.title {
  font-size: 2rem;
  text-align: center;
}

label {
  font-weight: bold;
  padding: 5px 0;
  text-transform: capitalize;
  color: rgb(56, 52, 52);
}

.btn {
  font-size: 1rem;
  padding: 5px 10px;
  border-radius: 20px;
  cursor: pointer;
  border: none;
  margin-top: 10px;
  background-color: rgb(106, 106, 255);
  width: 100%;
}

.form-control small {
  visibility: hidden;
  color: red;
}

.error input {
  border: 2px solid red;
}

.success input {
  border: 2px solid greenyellow;
}

.form-control.error small {
  visibility: visible;
}
